@model GlobalYouthWeb.Models.Comments

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderPhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
