
@model GlobalYouthWeb.Models.Gallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathOneTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathOneTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathTwoTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathTwoTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathThreeTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathThreeTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathFourThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathFourThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathFiveFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathFiveFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodySix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodySix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathSixFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathSixFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleSeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleSeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodySeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodySeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathSeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathSeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathSevenSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathSevenSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathEightSeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathEightSeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathNineEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathNineEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
