@model GlobalYouthWeb.Models.About


@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>About</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodySix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodySix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathTwo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
