
@model GlobalYouthWeb.Models.Event

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<ol class="breadcrumb">

    <li class="breadcrumb-item">Edit<i class="fa fa-angle-right"></i></li>
</ol>


@using (Html.BeginForm("Edit", "Event", null, FormMethod.Post,
                                                                              new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="grid-form">

        <div class="grid-form1">

            <h3>Event</h3>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <form class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.titleOne, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.titleOne, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.titleOne, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.bodyOne, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.bodyOne, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bodyOne, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input id="ImagePath" title="Upload a  image"
                                       type="file" name="fileOne" accept=".jpg,.png,.jpeg,.gif" />
                                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.titleTwo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.titleTwo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.titleTwo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.bodyTwo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.bodyTwo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bodyTwo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.bodyThree, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.bodyThree, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bodyThree, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.bodyFour, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.bodyFour, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bodyFour, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.bodyFive, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.bodyFive, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bodyFive, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="form-group">
                            @Html.LabelFor(model => model.bodySix, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.bodySix, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bodySix, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
